{% extends 'base.html'  %}


{% block styles %}
	<style>
	.jumbotron_about {
    margin-top: 100px;
	text-align: left;
	width: 300px
	}
  </style>
  {% endblock %}

{% block jumbotron %}
      <div class="jumbotron jumbotron_about">
        <h1> About</h1>
      </div>
{% endblock %}
{% block content2 %}


<p> 
Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a 
</p>


<p> 
Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a 
</p>

<p> 
Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a. Keural Networks have had a Neural Networks have had a 
</p>
<p> 
Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a 
</p>
<p> 
Neural Networks have had a 
</p>
{% endblock %}

