{% extends 'base.html'  %}


{% block styles %}

  {% endblock %}

{% block jumbotron %}
      <div>
        <h1> About</h1>
      </div>
{% endblock %}
{% block content2 %}


<p> 
Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a 
</p>


<p> 
Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a 
</p>

<p> 
Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a. Keural Networks have had a Neural Networks have had a 
</p>
<p> 
Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a Neural Networks have had a 
</p>
<p> 
Neural Networks have had a 
</p>
{% endblock %}

