{% extends 'base.html' %}
{% load staticfiles %}


{% block styles %}
	<style>
	.jumbotron {
		text-align: center;
	}
  </style>
  {% endblock %}

{% block jumbotron %}

      <div class="jumbotron">
        <h1> The NN Project.</h1>
        <p>Choose one from our navbar</p>
      </div>
{% endblock %}

{% block content %}

<h1>What is the NN Project ?</h1>
<p> The NN Project intends to show some of the many possible uses for Neural Networks in todays world </p>

<h1>But, why ?</h1>
<p> The NN Project intends to show some of the many possible uses for Neural Networks in todays world </p>


<h1>Lorem ipsum dolor sit amet ?</h1>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Se </p>


      
{% endblock %}


</html>
