    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" margin-bottom=60px>
      <div class="container" margin-bottom=60px>
        <div class="navbar-header" margin-top=60px>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" margin-bottom=60px>
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">NNText</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" margin-bottom=60px>
          <ul class="nav navbar-nav" margin-bottom=60px>
          {% url 'home' as home %}
          {% url 'about' as about %}
          {% url 'project1' as project1 %}
          {% url 'project2' as project2 %}
          {% url 'project3' as project3 %}

            <li {% if request.path == home %} class="active" {% endif %}><a href="{% url 'home' %}">Home</a></li>
            <li {% if request.path == about %} class="active" {% endif %}><a href="{% url 'about' %}">About</a></li>
            <li {% if request.path == project1 %} class="active" {% endif %}><a href="{% url 'project1' %}">Iris Dataset</a></li>
            <li {% if request.path == project2 %} class="active" {% endif %}><a href="{% url 'project2' %}">Image processing</a></li>
            <li {% if request.path == project3 %} class="active" {% endif %}><a href="{% url 'project3' %}">Text Prediction</a></li>
            <li {% if request.path == contact %} class="active" {% endif %}><a href="#">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
              <ul class="dropdown-menu">
              {% if not request.user.is_authenticated %}
                <li><a href="{% url 'account_login' %}">Login</a></li>
                <li><a href="{% url 'account_signup' %}">Signup</a></li>
                {% else %}
                <li><a href="{% url 'account_logout' %}">Logout</a></li>
                {% endif %}
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>